body {
    margin:0;
    font-family:'Abel', monospace; 
    font-size: 30px;
}

}
.section {

}
.content {

    overflow:auto;

    padding: 100px;
    
/*    margin: 0 auto;*/
}


.footer {
    height: 200px;
    background-color: #50555b;
    text-align: center;
}

.skills {
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 20px;
}

.header-skills {
    text-align:center;
}
#s1 {
    background-image: url("images/taylor1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;

}


#intro {
/*    background-color: azure;*/
/*    opacity:0.78;*/
/*    width: 500px;*/
/*    padding: 50px;*/
/*    font-size: 20px;*/
/*    border-radius: 25px;*/
    text-align: center;
    color: azure;
    
    margin-top:300px;
}
#giant-name {
    font-size: 100px;
}


#headshot {
    height: 400px;
    width: 400px;
    border-radius: 50%; 
    opacity:0.9;
}

#randimg {
    height: 400px;
    width: 400px;
    border-radius: 50%; 
    opacity:0.9;
}
#about_me{
    height: 320px;
    width: 500px;
    background-color:#f4efeb;
    border-radius: 25px;
    padding: 40px;
    opacity:0.78;
    font-size: 20px;
    border-radius: 25px;
 
}
#skills {
    width: 500px;
    background-color: bisque;
    padding:40px;
    opacity: 0.95;
    border-radius: 25px;
}

.row1 {
    margin: 0 auto;
}
#hs1{
    width: 400px;
/*    margin: 0 auto;*/
    grid-area: image;
}
#am1 {
    width: 580px;
    grid-area: about;
}
.wrapper{
    padding:100px;
    display: grid;
    grid-gap: 20px;
}



#w1 {

    grid-template-areas: 
        "image" 
        "about";


}
@media (min-width: 200px) {
    #w1 {
        grid-template-columns: auto;
        grid-template-areas: 
          "image" "about";
    }

    
}
#s4 {
    background-color: antiquewhite;
}
#s3 {
    background-image: url("images/grid.png");
    background-repeat: repeat-x repeat-y;
}
#s2 {
    background-color: #353638;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: none;
}
